.about-cat {
  padding: 0;
  margin: 0;
  border: none;
}

.about-cat__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-transform: uppercase;
  display: block;
}

.about-cat__input {
  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;
  }
}
