.comment {
  padding: 0;
  margin: 0;
  border: none;
}

.comment__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin-bottom: 39px;
  display: block;
  width: calc(100% + 20px);
  position: relative;

  &--underline::before {
    position: absolute;
    content: "";
    top: 14px;
    right: 0;
    width: 54%;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet) {
      top: 56px;
      right: 0;
      width: 65%;
    }

    @media (min-width: $desktop) {
      top: 58px;
      right: 0;
      width: 78.5%;
    }
  }

  @media (min-width: $tablet) {
    width: calc(100% + 140px);
    padding-left: 70px;
    padding-top: 33px;
    padding-bottom: 77px;
    margin-left: -70px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;

    &::after {
      position: absolute;
      content: "";
      top: 56px;
      left: 0;
      width: 4%;
      height: 2px;
      background-color: $basic-green;

      @media (min-width: $desktop) {
        width: 4.5%;
        top: 58px;
      }
    }
  }

  @media (min-width: $desktop) {
    width: calc(100% + 220px);
    padding-left: 110px;
    margin-left: -110px;
    padding-top: 36px;
  }
}

.comment__message {
  width: 100%;
  height: 150px;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 18px;
  border: 1px solid $border-input;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    text-transform: uppercase;
    padding-top: 6px;
    padding-left: 15px;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet) {
    height: 174px;
  }
}
