.instruction {
  background-color: $white;
}

.instruction__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(30px);
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
  }
}

.instruction__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.instruction__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.instruction__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
