.location {
  background-color: $white;
}

.location__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(30px);
    margin-left: 40px;
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.location__adress-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop) {
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 1;
  }
}

.location__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-black;
  text-transform: uppercase;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 22px;
}

.location__adress {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
  padding-top: 28px;
  margin-left: 25px;
}

.location__map-wrapper {
  width: calc(100% + 40px);
  margin-left: -20px;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
