.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(30px);
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
  }
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 27px;
  text-align: center;
}
