.products {
  background-color: $white;
}

.products__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(70px);
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
  }
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.products__item {
  width: calc(100% + 40px);
  margin-left: -20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-grey;
  box-sizing: border-box;
  min-height: 209px;
  position: relative;

  &:nth-of-type(2n+1) .products__image {
    margin-left: 56px;
    margin-top: 30px;
  }

  &:nth-of-type(2n) .products__image {
    margin-left: 46px;
    margin-top: 30px;
  }

  &:nth-of-type(3) .products__image {
    margin-left: 56px;
    margin-top: 43px;
  }

  &:nth-of-type(7) .products__image {
    margin-left: 54px;
    margin-top: 38px;
  }

  &:nth-of-type(5) .products__image {
    margin-top: 43px;
    margin-left: 56px;
  }

  & .products__info {
    margin-right: 20px;
  }

  &:first-of-type .products__info {
    margin-top: -45px;
  }

  &:nth-of-type(2n) .products__info {
    margin-top: -58px;
  }

  &:nth-of-type(2n+3) .products__info {
    margin-top: -50px;
  }

  &:nth-of-type(7) .products__info {
    margin-top: -53px;
  }

  &--plus {
    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 2px;
      background-color: $plus;
    }

    &::after {
      position: absolute;
      content: "";
      top: 40px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 2px;
      background-color: $plus;
      transform: rotate(90deg);
    }
  }

  @media (min-width: $tablet) {
    width: 45%;
  }

  @media (min-width: $desktop) {
    width: 20%;
    margin-right: 80px;
  }

  &:nth-child(4n) {
    @media (min-width: $desktop) {
      margin-right: 0;
    }
  }
}

.products__link-description {
  display: flex;
  text-decoration: none;
}

.products__link-purchase {
  font-size: 16px;
  line-height: 20px;
  margin: 0 20px;
}

.products__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 50%;
  padding-top: 18px;
  margin: 0;
  margin-left: auto;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}
