.result {
  background-color: $special-grey;
}

.result__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(30px);
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
  }
}

.result__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
}

.result__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  margin-bottom: 25px;
}

.result__container {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.result__calculate-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

.result__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

.result__item {
  width: 44%;
  border-radius: 3px;
  box-sizing: border-box;
}

.result__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid $border-calculate;
}

.result__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
  text-align: center;
  display: block;
  width: 87px;
  background-color: $special-grey;
  margin: 0 auto;
  margin-top: -8px;
  z-index: 2;
}

.result__calculate {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.result__fat-cat {
  display: block;
  margin: 0 auto;
  transform: translateX(-20px);
}

.result__slim-cat {
  display: none;
  margin: 0 auto;
  transform: translateX(16px);
}

.result__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  margin: 0;
}

.result__count {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.result__before,
.result__after {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}
