.slider {
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $border-calculate;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0 18px;
  margin-top: 3px;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet) {
    width: 428px;
    height: 34px;
    padding: 0;
    margin: 0 22px;
    background-color: transparent;
    border: none;
  }
}

.slider__range {
  @media (min-width: $tablet) {
    width: 100%;
    height: 6px;
    background-color: $slider-range;
    margin-top: 14px;
  }
}

.slider__toggle-range {
  @media (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -17px;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border: 13px solid $white;
    box-shadow: 0 0 0 1px $border-calculate;
    border-radius: 50%;
    cursor: pointer;
  }
}

.slider__toggle {
  cursor: pointer;
}

.slider__toggle--fat {
  position: absolute;
  content: "";
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 3px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.slider__toggle--slim {
  position: absolute;
  content: "";
  top: 3px;
  right: 6px;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 3px;

  @media (min-width: $tablet) {
    display: none;
  }
}
