.weight-control {
  background-color: $white;
}

.weight-control__wrapper {
  @include wrapper(20px);

  @media (min-width: $tablet) {
    @include wrapper(30px);
  }

  @media (min-width: $desktop) {
    @include wrapper(110px);
    display: flex;
    justify-content: space-between;
  }
}

.weight-control__slimming {
  background-color: $basic-grey;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    min-height: 370px;
  }

  @media (min-width: $desktop) {
    width: 47.5%;
  }
}

.weight-control__weight-gain {
  background-color: $basic-grey;
  position: relative;

  @media (min-width: $tablet) {
    min-height: 370px;
  }

  @media (min-width: $desktop) {
    width: 47.5%;
  }
}

.weight-control__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
  padding-top: 30px;
  margin: 0;
  margin-left: 91px;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    color: $black;
    padding: 0;
    padding-top: 77px;
    margin-left: 53px;
    margin-bottom: 24px;
  }
}

.weight-control__heading--slimming {
  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    top: 21px;
    left: 29px;
    background-image: url("../../img/cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: $tablet) {
      width: 140px;
      height: 192px;
      top: 81px;
      left: 424px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}

.weight-control__heading--weight-gain {
  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
    background-image: url("../../img/cat-weight-gain.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}

.weight-control__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-grey-2;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    color: $black;
    padding: 0;
    margin-left: 52px;
    margin-bottom: 48px;
    border: none;
  }
}

.weight-control__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-top: 15px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 52px;
    width: 23.3%;
    padding-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 17px;
    left: 103px;
    background-image: url("../../img/arrow.svg");

    @media (min-width: $tablet) {
      top: 25px;
      left: 133px;
    }
  }

  &:hover::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 12px;
    top: 17px;
    left: 103px;
    background-image: url("../../img/long-arrow.svg");

    @media (min-width: $tablet) {
      top: 25px;
      left: 133px;
    }
  }

  &:active {
    color: transparentize($black, 0.3);

    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 12px;
      top: 17px;
      left: 103px;
      background-image: url("../../img/long-arrow.svg");
      opacity: 0.3;

      @media (min-width: $tablet) {
        top: 25px;
        left: 133px;
      }
    }
  }
}
